modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35389
externalPort = 5173

[[ports]]
localPort = 36031
externalPort = 3001

[[ports]]
localPort = 37253
externalPort = 4200

[[ports]]
localPort = 37285
externalPort = 3000

[[ports]]
localPort = 37911
externalPort = 8008

[[ports]]
localPort = 40187
externalPort = 6000

[[ports]]
localPort = 40207
externalPort = 6800

[[ports]]
localPort = 40255
externalPort = 5000

[[ports]]
localPort = 40479
externalPort = 3002

[[ports]]
localPort = 42207
externalPort = 8000

[[ports]]
localPort = 45963
externalPort = 3003

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit:1.0.0", "javascript_database:1.0.0"]
